/* GUIA DE ESTILOS
1. Reset para todos los estilos
2. Layout - centrado etc.
3. Generic Items
4. Partes de la web = Partes de cada etiqueta por separado
5. List
6. Formularios
7. Animaciones
---------------------------
Colors:
    Color 1 - # Gris
    Color 2 - # Blanco
*/

/* RESET  https://meyerweb.com/eric/tools/css/reset/  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Estilos Generales */

body{
    background-color: #f0f0f0;
}

a {
    color: rgb(255, 255, 255);
    text-decoration:none;
    font-family: 'Raleway', sans-serif;
}

.containerHeader {
    height: 140vh;
    background: url(../img/img1_FondoPrincipalHeader.jfif) no-repeat center top;
    background-size: 100%;
    background-position-y: 24%;
    clip-path: polygon(0 0, 100% 0, 100% 86%, 50% 98%, 0 86%);
}

.logoPrincipalEsquinero{
    height: 230px;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
}
 

/* Estilos de Navegacion */

ul {
    list-style:none;
}

.nav-menu{
    font-size:24px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 170px;
}

.tituloCentral{
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 75px;
    font-family: 'Raleway', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    font-weight: bold;

}

/* Estilos de Navegacion Izquierda Superior */

.nav-menu ul li {
    display: flex;
    padding: 20px;
    padding-inline-start: 40px ;
    padding-top: 50px;
}

.nav-menu ul{
    margin-right: 50px;
    padding-bottom: 50px;
}

/* Logotipo Central Bienvenida*/

.logoCentral{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 620px;
    margin-top: -40px;
}

.title2{
    text-align: center;
    margin: 40px;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;

}

.parrafo1{
    text-align: center;
    margin: -20px 250px 30px 250px;
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
}

.imgAcercade{
    display: flex;
    justify-content: center;
    height: 430px;
    border-radius: 50px;
}


/* Estilos Seccion Servicios Card */

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.bodycards {
  font-family: "Quicksand", sans-serif;
  display: grid;
  place-items:center;
  height: 190vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
     background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  font-family: 'Raleway', sans-serif;

}

.card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: bold;
}


img {
    max-width: 100%;
    display: block;
    object-fit: cover;
  }

.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}


.contentIntereses{
    display: block;
    height: 600px;
    overflow: hidden;
}


/* Contacto */
.contentContact{
    display: flex;
    flex-flow: row wrap;
    height: 200px;
    justify-content: space-around;
    background-color: rgb(216, 216, 216);
}

footer section h2 {
    width: 100%;
    height: -0px;
}

.datosContacto{
    display:flex;
    width: 400px;
    height: 100px; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

.logoUbi{
    width: 50px;
    height: 50px;
}

.logosRedes{
    display:flex;
    width: 400px;
    height: 100px;
    justify-content: center;
    align-items: center;
    justify-content: space-around;




}

.logoR{
    width: 50px;
    height: 50px;
}

